/* ปรับแต่ง dropdown */
.select2-container {
  width: 100% !important;
}

.select2-selection {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0px;
  font-size: 14px;
  color: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.select2-selection:hover {
  border-color: #0077cc;
  transition: border-color 0.3s;
}

.select2-selection--single {
  height: auto;
  line-height: 1.6;
}

/* เพิ่มลูกศรที่ dropdown */
.select2-selection__arrow {
  height: 100%;
}

.select2-selection__arrow b {
  border-color: #333333 transparent transparent transparent !important;
  border-width: 5px 5px 0 5px !important;
}

/* ปรับแต่ง dropdown list */
.select2-results {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin-top: 4px;
  z-index: 1000;
}

.select2-results__option {
  padding: 10px;
  font-size: 14px;
  color: #333333;
}

.select2-results__option--highlighted {
  background-color: #0077cc;
  color: #ffffff;
}

/* ปรับแต่ง state loading */
.select2-container .select2-selection--loading {
  background-color: #f5f5f5;
  color: #999999;
  border-color: #cccccc;
}


/* เลือกช่อง input ของ Select2 และปรับพื้นหลังเป็นสีขาว */
.select2-container--default .select2-search__field {
  background-color: white !important;  /* เพิ่ม !important เพื่อให้แน่ใจว่าการปรับแต่งนี้มีผล */
  color: black;  /* สีข้อความใน input */
}
