@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ฟอนต์ Regular */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat-Regular', sans-serif;
}

/* ใช้ฟอนต์ Regular สำหรับข้อความที่ต้องการ */
.font-montserrat {
  font-family: 'Montserrat-Regular', sans-serif;
}