@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* ฟอนต์ Regular */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat-Regular', sans-serif;
}

/* ใช้ฟอนต์ Regular สำหรับข้อความที่ต้องการ */
.font-montserrat {
  font-family: 'Montserrat-Regular', sans-serif;
}

/* CSS Reset แบบเรียบง่าย */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

/* styles.css */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}